@model List<Digisoft.ProjectManagement.Models.UserViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .btn:not(:disabled):not(.disabled) {
        cursor: pointer;
        margin-bottom: 10px;
    }

    @@media (min-width: 576px) {
        .modal-dialog {
            max-width: 1100px;
            margin: 1.75rem auto;
        }
    }

    .divdoc {
        width: 60%;
        margin: 0 auto;
    }

    .common-btn {
        margin-bottom: -56px !important;
        z-index: 1;
        position: relative;
    }

    #MyTable_filter form {
        display: inline-block;
    }
</style>
<input type="button" id="btnAddClient" class="btn btn-primary common-btn" value="Add" data-isNew="true" onclick="AddOrEdit(this)" />
<table class="table table-responsive table-hover" id="MyTable">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Active</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            int i = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.FirstName @item.LastName </td>
                    <td>@item.Email</td>
                    <td>@item.RoleName</td>
                    @if (item.Exclude == true)
                    {
                        <td>Yes</td>
                    }
                    else
                    {
                        <td>No</td>
                    }
                    <td>
                        <a class='icon-style' href='javascript:void(0)' data-Id="@item.UserId" onclick="ViewDetail(this,'@item.UserId')" title="View"><i class='fa fa-info-circle' aria-hidden='true'></i></a>
                        <a class='icon-style' href='javascript:void(0)' data-Id="@item.UserId" onclick="AddOrEdit(this,'@item.UserId')" title="Edit"><i class='fa fa-pencil' aria-hidden='true'></i></a>
                        @if (User.Identity.Name == "parampreet@digisoftsolution.net")
                        {
                            <a class='icon-style' href='javascript:void(0)' onclick="return ChangePassword(this,'@item.UserId')" title="Change Password"><i class='fa fa-key' aria-hidden='true'></i></a>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <a class='icon-style' href='javascript:void(0)' onclick="return DeleteUser(this,'@item.UserId')"><i class='fa fa-trash-o' aria-hidden='true' title="Delete"></i></a>
                        }
                        <a class='icon-style' href='javascript:void(0)' data-Id="@item.UserId" onclick="ViewDocument('@item.UserId')" title="Document"><i class='fa fa-upload' aria-hidden='true'></i></a>
                        <a class='icon-style' href='javascript:void(0)' onclick="return ViewEducation('@item.UserId')" title="Education"><i class='fa fa-graduation-cap' aria-hidden='true'></i></a>
                        <a class='icon-style' href='javascript:void(0)' onclick="return ViewIncrement('@item.UserId')" title="Increment"><i class='fa fa-money' aria-hidden='true'></i></a>
                    </td>
                </tr>
                i++;
                i++;
            }
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        _loadData();
        $("input[type='search']").wrap("<form>");
        $("input[type='search']").closest("form").attr("autocomplete", "off");
    });
    var AddOrEdit = function (event, Id) {
        var isNew = event.getAttribute("data-isNew");
        var Id = Id;
        var viewType = "Display";

        if (isNew) {
            Id = 0;
        }
        loader();
        $.ajax({
            type: "Get",
            url: "/Admin/AddUser",
            data: { id: Id, viewType: viewType },
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                if (response.Success) {
                    if (Id != null && Id != "") {
                        $('#myModal').find('#myModalLabel').html('Update Employee');
                        //$("#FirstName").val(response.FirstName);
                        //$("#LastName").val(response.LastName);
                        //$("#IsActive").prop("checked", response.IsActive);
                    }
                    else {
                        $('#myModal').find('#myModalLabel').html('Add Employee');
                    }
                    $('#myModal').find('.modal-content').removeClass('divdoc');
                    $('#myModal').find('.modal-body').html(response.Html);
                    $('#myModal').find('.btn-primary').addClass('saveBid');
                    $('#myModal').modal('show');
                    removeLoader();
                }
                else {
                    notificationHelper.ShowError("Some thing went wrong !");
                    removeLoader();
                }
            },
            error: function (result) {
                notificationHelper.ShowError("Error");
                removeLoader();
            }
        });

    }
    var ChangePassword = function (event, Id) {
        var Id = Id;
        var viewType = "ChangePassword";
        loader();
        $.ajax({
            type: "Get",
            url: "/Admin/AddUser",
            data: { id: Id, viewType: viewType },
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                if (response.Success) {
                    if (Id != null && Id != "") {
                        $('#myModal').find('#myModalLabel').html(response.UserName + "'s Change Password");
                        $("#Password").val('');
                    }
                    $('#myModal').find('.modal-body').html(response.Html);
                    $('#myModal').find('.btn-primary').addClass('saveBid');
                    $('#myModal').modal('show');
                    $('#myModal').find('.modal-content').addClass('divdoc');
                    removeLoader();
                }
                else {
                    notificationHelper.ShowError("Some thing went wrong !");
                    removeLoader();
                }
            },
            error: function (result) {
                notificationHelper.ShowError(result.Message);
                removeLoader();
            }
        });

    }

    var _loadData = function (response) {
        if ($.fn.DataTable.isDataTable("#MyTable")) {
            oTable.draw();
        }
        else {
            oTable =
                $('#MyTable').DataTable({
                    "bPaginate": true,
                    "bLengthChange": false,
                    "bFilter": true,
                    "bInfo": false,
                    "bAutoWidth": false,
                });
        }
        removeLoader();
    };
    var ViewDetail = function (event, Id) {

        if (Id == null || Id == undefined) {
            notificationHelper.ShowError("Some thing went wrong!");
        }
        else {
            loader();
            $.ajax({
                type: "Get",
                url: "/Admin/AddUser",
                data: { id: Id, "viewType": "View" },
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    if (response.Success) {
                        $('#myModal').find('#myModalLabel').html('View Detail');
                        $('#myModal').find('.modal-content').removeClass('divdoc');
                        $('#myModal').find('.modal-body').html(response.Html);
                        $('#myModal').find('.btn-primary').addClass('saveBid');
                        $('#myModal').modal('show');
                        removeLoader();
                    }
                    else {
                        notificationHelper.ShowError("Some thing went wrong !");
                        removeLoader();
                    }
                },
                error: function (result) {
                    notificationHelper.ShowError(result.Message);
                    removeLoader();
                }
            });
        }
    }
    var ViewDocument = function (Id) {
        debugger;
        if (Id == null || Id == undefined) {
            notificationHelper.ShowError("Some thing went wrong!");
        }
        else {
            loader();
            $.ajax({
                type: "Get",
                url: "/Admin/AddUser",
                data: { id: Id, "viewType": "ViewDocument" },
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    debugger;
                    if (response.Success) {
                        $('#myModal').find('#myModalLabel').html(response.UserName + "'s Document");
                        $('#myModal').find('.modal-body').html(response.Html);
                        $('#myModal').find('.btn-primary').addClass('saveBid');
                        $('#myModal').modal('show');
                        $('#myModal').find('.modal-content').addClass('divdoc');
                        removeLoader();
                    }
                    else {
                        notificationHelper.ShowError("Some thing went wrong !");
                        removeLoader();
                    }
                },
                error: function (result) {
                    notificationHelper.ShowError(result.Message);
                    removeLoader();
                }
            });
        }
    }
    var ViewEducation = function (Id) {
        debugger;
        if (Id == null || Id == undefined) {
            notificationHelper.ShowError("Some thing went wrong!");
        }
        else {
            loader();
            $.ajax({
                type: "Get",
                url: "/Admin/AddUser",
                data: { id: Id, "viewType": "ViewEducation" },
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    debugger;
                    if (response.Success) {
                        $('#myModal').modal('show');
                        $('#myModal').find('#myModalLabel').html("View " + response.UserName + "'s Education Details");
                        $('#myModal').find('.modal-body').html(response.Html);
                        $('#myModal').find('.btn-primary').addClass('saveBid');
                        $('#myModal').find('.modal-content').removeClass('divdoc');
                        removeLoader();
                    }
                    else {
                        notificationHelper.ShowError("Some thing went wrong !");
                        removeLoader();
                    }
                },
                error: function (result) {
                    notificationHelper.ShowError(result.Message);
                    removeLoader();
                }
            });
        }
    }
    var ViewIncrement = function (Id) {
        debugger;
        if (Id == null || Id == undefined) {
            notificationHelper.ShowError("Some thing went wrong!");
        }
        else {
            loader();
            $.ajax({
                type: "Get",
                url: "/Admin/AddUser",
                data: { id: Id, "viewType": "ViewIncrement" },
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    debugger;
                    if (response.Success) {
                        $('#myModal').modal('show');
                        $('#myModal').find('#myModalLabel').html("View " + response.UserName + "'s Increment");
                        $('#myModal').find('.modal-body').html(response.Html);
                        $('#myModal').find('.btn-primary').addClass('saveBid');
                        $('#myModal').find('.modal-content').removeClass('divdoc');
                        removeLoader();
                    }
                    else {
                        notificationHelper.ShowError("Some thing went wrong !");
                        removeLoader();
                    }
                },
                error: function (result) {
                    notificationHelper.ShowError(result.Message);
                    removeLoader();
                }
            });
        }
    }
    var DeleteUser = function (event, Id) {
        if (Id == null || Id == undefined) {
            notificationHelper.ShowError("Some thing went wrong!");
        }
        else {
            if (confirm("Are you sure?")) {
                loader();
                $.ajax({
                    type: "Get",
                    url: "/Admin/DeleteUser",
                    data: { UserId: Id },
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                        if (response.Success) {
                            notificationHelper.ShowSuccess(response.Message);
                            setTimeout(function () {
                                location.href = "/Admin/Index";
                            }, 1000);
                            removeLoader();
                        }
                        else {
                            notificationHelper.ShowError("Some thing went wrong !");
                            removeLoader();
                        }
                    },
                    error: function (result) {
                        notificationHelper.ShowError(result.Message);
                        removeLoader();
                    }
                });
            }
        }
    }
</script>

